---
title: Add external-dns annotations to your ingress resource in “live-1”
last_reviewed_on: 2021-10-08
review_in: 3 months
---

# <%= current_page.data.title %>

Service teams using the Cloud Platform are asked to make a small change to the config of their services. It should take no more than 30 minutes of developer time. It is an important preparation step for the [migration][migrate-to-live] of services to Cloud Platform’s improved Kubernetes cluster this Autumn.

Cloud Platform’s forthcoming [EKS Migration][migrate-to-live] will benefit MOJ and users through lower operational overhead, better scalability, reliability and security. Later in the Autumn we will be asking teams to actually do the migration of their services to the new cluster, in a way that avoids disruption to the running of the service.

### The ingress config to change

Teams should add two new ‘annotations’ to their existing ingress resources. This will become important during the migration phase, later in the Autumn, allowing load balancing across the two clusters, to gradually moving traffic to the copy of the app running on the new cluster.

Here is the start of an example ingress, with a couple of existing annotations:

```
apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  annotations:
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/enable-modsecurity: "true"
    nginx.ingress.kubernetes.io/modsecurity-snippet: |
      SecRuleEngine On
  name: helloworld-rubyapp-ingress
  namespace: cloud-platform-dev
```

It needs 2 new annotations adding, which are:

```
external-dns.alpha.kubernetes.io/set-identifier: <ingress-name>-<namespace-name>-blue
external-dns.alpha.kubernetes.io/aws-weight: "100"
```

Note: you need to substitute in the correct <ingress-name> and <namespace-name> values for your ingress. The <span style="color:blue">blue</span> corresponds to the “live-1” cluster, and will be different on the new cluster.

Continuing with the example above, the ingress now looks like this, including the two new annotations:

```
apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  annotations:
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/enable-modsecurity: "true"
    nginx.ingress.kubernetes.io/modsecurity-snippet: |
      SecRuleEngine On
    external-dns.alpha.kubernetes.io/set-identifier: helloworld-rubyapp-ingress-cloud-platform-dev-blue
    external-dns.alpha.kubernetes.io/aws-weight: "100"
  name: helloworld-rubyapp-ingress
  namespace: cloud-platform-dev
```

To make this change, you’ll probably edit an ingress.yaml file, which is probably stored with your application’s code in GitHub. To apply the change to the Cloud Platform (live-1 cluster), ideally you’ll have CI/CD setup to it to the Cloud Platform API, so you just need to merge the change to the main/master branch. Alternatively can either apply it using this command:

  ```bash
  kubectl -n <namespace-name> apply -f ingress.yaml
  ```

To check the change is applied, check you see the new annotations here:

  ```bash
  kubectl -n <namespace-name> get ingress -oyaml | grep external-dns
  ```

The idea behind the annotation is to control where traffic is directed to. The addition of aws-weight: 100 against this ingress to the “live-1" cluster changes nothing - all of the internet traffic to this domain still goes to your service on the “live-1” cluster.

Completing the above step in advance of your migrations means you will have less to do when it comes to your actual event (this covers [step 2][ingress-resource-live-1] of the migration process)

Please add this annotation to all your ingress by 5th November 2021

To make sure all the ingress in live-1 have that annotation we will apply an [OPA policy][opa-annotation-policy] to reject all the ingress without the annotation on 8th November 2021.
  
**Please note this change will not impact how traffic is routed to your service until migration.The OPA policy will not block traffic to your services and will only reject new ingress definitions without the annotations.**

If you have any questions or concerns about these changes please contact us over at #ask-cloud-platform.


[ingress-resource-live-1]: https://user-guide.cloud-platform.service.justice.gov.uk/documentation/other-topics/migrate-to-live.html#step-2-amend-and-apply-your-quot-live-1-quot-ingress-resource
[opa-annotation-policy]: https://github.com/ministryofjustice/cloud-platform-terraform-opa/blob/main/resources/policies/external-dns-annotation/ingress_external_dns_identifier_format.rego
[migrate-to-live]: https://user-guide.cloud-platform.service.justice.gov.uk/documentation/other-topics/migrate-to-live.html#introduction
